/* ------------------------- White and Black Colours ------------------------ */
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

/* ------------------------------ Theme Colors ------------------------------ */
// Solid Colors
$solid-1: rgb(249, 85, 173); //#f953ab
$solid-2: rgb(186, 39, 81);  //#b92751
$solid-3: rgb(217, 106, 24); //#d86818
$solid-4: rgb(11, 208, 223); //#0bd2e0
$solid-5: rgb(49, 28, 97);   //#321d63

$treehouse: rgb(95, 207, 128); //#5fcf80

// Background Colors
$bg-primary: #121212;
$bg-primary-light: lighten($bg-primary, 10%);

$bg-secondary: #333d48;
$bg-secondary-light: lighten($bg-secondary, 10%);
 

//Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss"