@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;
@use '../utilities/gradients' as *;


//Show home icon for mobile view
.about-menu ul #home-link {   
    @include respond-to-up(md) {
        display: none;
    }
}

.about-menu ul #about-link {
    // color: $solid-4;   
    @include respond-to-down(md) {
        display: none;
    }
}

/* --------------------------- About Page Styling --------------------------- */
.about-page {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.about-me-container {
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    // border: 3px solid red;
    
    @include respond-to-down(md) {
        width: 100%;
        height: fit-content;
        @include absoluteCenter;
        
    }
}

.about-me-inner {
    @include borderYStyling($solid-4);
    width: 80%;
    
    @include respond-to-up(md) {
        @include borderXStyling($solid-4);
        
    }
    @include respond-to-down(md) {
        width: 100%;
        padding: 20px 10px;
    }
}

// heading styling
.about-heading {
    @include headingStyling;
    
    .heading-line {
        @include headingLine($solid-4);
    }
}

.about-box {
    @include Card($solid-4);
    padding: 2.5rem auto; //40px auto
    margin: 0 auto;
    
    @include respond-to-down(md) {
        
        .lead {
            font-size: 15px;
            line-height: 1.5;
            letter-spacing: 1px;
        }
    }
    
}
















