@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;
@use '../utilities/gradients' as *;

/* ------------------------------- Right Side ------------------------------- */
.contact-form {
    color: $white;
    @include gradient(to right, $gradientC_B);
    @include borderYStyling($solid-4);
    background-attachment: fixed;
    // width: fit-content;
    // border: 2px solid green;
    
    @include respond-to-down(md) {
        border-top: none;
    }
    
    // Breakpoints
    
    @include respond-to-down(md) {
        @include gradient(to right bottom, $gradientC_B);
        // background-attachment: fixed;
        &::before {
            top: -13px;
            left: 50%;
            background-color: #169ebc;
        }
    }
}

/* ------------------------------ Form Styling ------------------------------ */
form {
    position: relative;
    padding: 2.2rem 2.3rem;
    z-index: 10;
    @include fullSize;
    
    // padding viewport
    @include respond-to-down(xl) {
        padding: 2.2rem 0.8rem;
    }
    
    @include respond-to-down(lg) {
        padding: 2.2rem 0.8rem;
        // border: 2px solid red;
    }
    
    @include respond-to-down(md) {
        padding: 2.2rem 0.2rem;
    }
    // border: 2px solid red;
    
    .alert {
        display: flex;
        justify-content: space-between;
        margin-top: 0.938rem;
        border-radius: 1.563rem;
        
        color: white;
        width: 100%;
        // text-align: center;
        padding: 0.938rem;
        
        &.error, &.success {
            color: white;
        }
        
        // x Icon
        .bi-x {
            font-size: 25px;
            
            &:hover {
                cursor: pointer;
            }
        }
    }
    
    .error {
        background-color: $error;
    }
    
    .success {
        background-color: $success;
    }
}

.input-wrapper {
    position: relative;
    width: 100%;
    margin: 1rem 0;
    // border: 2px solid yellow;
    
    // Input styling
    .input {
        position: relative;
        z-index: 10;
        width: 100%;
        padding: 0.6rem 1.2rem;
        
        color: $white;
        font-size: 0.95rem;
        font-weight: 500;
        letter-spacing: 1px;
        
        outline: none;
        background: transparent;
        border-radius: 25px;
        border: 2px solid $white;
        
        &::placeholder {
            color: white;
            font-style: italic;
            opacity: 0.7;
        }
        
        /* &:focus,
        &:valid {
            background-color: inherit;
        } */
    }
    
    // Textarea styling
    textarea.input {
        min-height: 150px;
        border-radius: 22px;
        resize: none;
        overflow-y: auto; 
        
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }
    
    .place-holder {
        position: absolute;
        left: 23px;
        top: -20px;
        font-size: 14px;
        
    }
    // Error highlight
    &.input-error input, &.input-error textarea {
        border:2px solid $error;
        color: $error;
        transition: 250ms;
        
        &::placeholder {
            color: $error;
        }
    }
    
    &.input-error .place-holder {
        color: $error;
    }
    
    
    // placeholder styling
    // .place-holder {
    //     position: absolute;
    //     left: 23px;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     transition: 150ms;
    // }
    
    // &.focus .place-holder {
    //     top: -10px;
    //     transform: translateY(-50%);
    //     left: 25px;
    //     font-size: 0.8rem;
    // }
}

// textarea placeholder
// .textarea .place-holder {
//     top: 0.6rem;
//     transform: translateY(0);
// }


// Button Styling
.form-btn {
    color: #245a8d;
    font-weight: 700;
    line-height: 2.188rem;
    letter-spacing: 0.8px;
    padding: 0.313rem 1.25rem;
    
    background-color: $white;
    border: 3px solid $white;
    border-radius: 1.563rem;
    outline: none;
    
    &:hover, &:active, &:focus {
        color: $white;
        background-color: transparent;
    }
}

/* --------------------------------- Circles -------------------------------- */
.circle {
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(
        135deg,
        transparent 30%,
        $solid-4,
    );
    z-index: 0;
}

.circle-1 {
    width: 160px;
    height: 160px;
    top: -10%;
    right: -10%;
}
.circle-2 {
    width: 90px;
    height: 90px;
    top: 50%;
    left: 33%;
}

.circle-3 {
    width: 250px;
    height: 250px;
    top: 71%;
    right: 5%;
}

.circle-4 {
    width: 120px;
    height: 120px;
    top: 34%;
    right: 5%;
}

// Breakpoints
@include respond-to-down(md) {
    .circle-1 {
        width: 160px;
        height: 160px;
        top: 13%;
        right: -10%;
    }
    
    .circle-2 {
        width: 90px;
        height: 90px;
        top: 60%;
        left: 43%;
    }
    
    .circle-3 {
        width: 250px;
        height: 250px;
        top: 75%;
        right: 15%;
    }
    
    .circle-4 {
        width: 120px;
        height: 120px;
        top: 44%;
        right: 5%;
    }
}






