@use '../custom' as *;
@use '../components/mixins' as *;

// Full Page Background
.bg-full {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/images/background-images/bg-1.jpg);
    background-repeat: no-repeat;
}

/* ------------------------------ Hero Section ------------------------------ */
.hero {
    margin-left: 15.62rem; /* 13.02vw; */
    padding: 1rem;
    display: inline-block;
    
    background-color: red;
    
    @include respond-to(md) {
    margin-left: 0; /* 13.02vw; */
        
    }
}






