@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/gradients' as *;


/* -------------------------- Full Page Background -------------------------- */
.bg-full {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(/assets/images/background-images/bg-1.jpg) no-repeat center center/cover;
}

/* ------------------------------ Hero Section ------------------------------ */
.hero {
    height: 100%;
    position: relative;
    
    .hero-inner {
        height: 100%;
        flex-direction: column;
    }
    
    // background-color: blue;
}






