@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;
@use '../utilities/gradients' as *;

.hero {
    height: 100vh;
    margin-bottom: auto;
    // border: 2px solid plum;
    
    .hero-inner {
        @include fullSize;
        flex-direction: column;
        // border: 2px solid red;
        
        .heading {
            margin: auto;
        }
        
        // button
        a {
            position: relative;
            margin-bottom: 3.75rem;

            // Circle
            span {
                @include scrollBtn;
                width: 66px;
                height: 66px;
                margin-left: -23px;
                border: 2px solid #fff;
                border-radius: 100%;
                animation: bounce 1s ease-in-out infinite;
                
                // Arrow
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 18px;
                    height: 18px;
                    margin: -12px 0 0 -9px; // top right bottom left
                    border-left: 3px solid $white;
                    border-bottom: 3px solid $white;
                    
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    
                }
            }
        }
    }
}


// Type writer
#typewriter::after {
    content: "";
    border: 1px solid $solid-4;
    margin-left: 2px;
    animation: blink 300ms infinite alternate; 
}




