// @use '../custom' as *;
@use '../components/mixins' as *;

.sidenav {
    width: 13.02vw;
    height: 100vh;
    position: fixed;
    
    background-color: $bg-secondary;
    
    // Breakpoint
    @include respond-to(md) {
        display: none;
    }
}

.logo-outer {
    padding: 2rem;
    position: relative;
    width: 100%;
    
    &::after {
        content: "";
        position: absolute;
        
        margin-top: 2rem;
        bottom: 0;
        left: 0;
        
        width: 100%;
        height: 10px;
        
        @include gradient(left, $gradient2);
        animation: gradient2 6s ease infinite;
    }
}