@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/gradients' as *;

/* --------------------------- Menu Bar container --------------------------- */
.menubar {
   width: 5.625rem; //90px
   height: 100vh;
   position: fixed;
   z-index: 9999;
   @include transitionSpeed;
   flex-direction: column;
   
   background-color: $bg-primary !important;
   
   // Breakpoints
   //large screens
   @include respond-to-up(md) { 
      width: 5.625rem; //90px
      height: 100vh;
      
      // Hover on side-bar
      &:hover{
         width: 15.625rem; //250px
         
         .hamburger-container {
            width: 100%;
            // padding: 50px;
            margin-bottom: 5px;
            transition: all 250ms ease ;
            
            .hamburger-image {
               width: 33%;
               margin: 0 auto;
            }
         }
         
         .menubar-nav {
            display: hidden;
            margin-left: 0.625rem; //10px
            transition: all 250ms ease ;
            
            // links hover
            .menu-item {
               color: $solid-4;
            }
         }
         .link-text {
            display: inline;
            @include transitionSpeed;            
         }
         
      }
      
   }
   
   // small screens
   @include respond-to-down(md) {
      bottom: 0;
      width: 100vw;
      height: 5.625rem; //90px
      
      .hamburger-container {
         display: none;
      }
      
      .menubar-nav {
         //Controls position of menu-items on the navbar
         flex-direction: row;
         justify-content: center;
         align-items: center;
         
         padding: 0.313rem 0.438rem; // h(5px) w(7px)
         @include transitionSpeed;
         
         //hides text on mobile
         display: hidden !important;     
           
         .menu-item:hover {
            border-radius: 1.063rem 1.063rem 0 0; //top left/ top right/ bottom right/ bottom left
            border-top: 5px solid $solid-4;
         }
         
         // Change Menu for landscape orientation 
         // Orientation Styling doesn't work on phones with height higher than 768px 
         @media (orientation: landscape) {
            .menubar-nav {
               flex-direction: column;
               
            }
            
            .menu-item:hover {
               border-radius: 0 1.063rem 1.063rem 0; //top left/ top right/ bottom right/ bottom left
               border-right: 5px solid $solid-4;
            }
         }
      }
      // Change Menu for landscape orientation
      @media (orientation: landscape) {
         width: 5.625rem; //90px
         height: 100vh;
         flex-direction: column;
      }
   }
}

/* -------------------------------- Hamburger ------------------------------- */
.hamburger-container {
   position: relative;
   z-index: 2;
   margin-top: 2.813rem; //45px
   margin-bottom: -1.25rem;
   height: 6.25rem; //100px
   background-color: $bg-secondary;
}

/* ------------------------------- Menu Items ------------------------------- */
.menubar-nav {
   @include fullSize;
   position: relative;
   z-index: 2;
   
   flex-direction: column;
   justify-content: center;
   align-items: start;
   margin: 0;
   padding: 0 5px;
   
   .menu-item {
      width: 100%;
      // change distance between icons
      margin: 1.563rem 0;  //h w
      justify-self: start;
      
      
      // background-color: red;
      
      // link Hover
      &:hover {
         transform: scale(1.15);
         background-color: $bg-secondary;

         .icon {
            color: $solid-4;
         }
         
         // Button border for large Screens
         @include respond-to-up(md) {
            border-radius: 0 1.063rem 1.063rem 0; //top left/ top right/ bottom right/ bottom left
            border-right: 5px solid $solid-4;
         }

         // Button border for small screens
         @include respond-to-down(md) {
            border-radius: 1.063rem 1.063rem 0 0; //top left/ top right/ bottom right/ bottom left
            border-top: 5px solid $solid-4;
         }
      }
      
      
      @include respond-to-down(md) { //smaller than md
         width: 110%;
         
         // Landscape Orientation
         @media (orientation: landscape) {
            margin: 0;
            width: 110%;
         }
      }
   }
   
   
   // Text
   .link-text {
      display: none;
   }
   
   // link boxes targets link elements
   .menu-link {
      // Controls position of text & icon in container
      display: flex;
      justify-content: start;
      align-items: center;
      // Controls size of icon boxes
      height: 5.625rem; //90px
      
      @include respond-to-down(md) {
         justify-content: center;
         
         // Orientation Landscape
         @media (orientation: landscape) {
            height: 70px;
         }
      }
      
      .icon {
         // Icon-size
         font-size: 1rem;
         margin: 0 1.5rem; //24px
         
         // larger screens
         @include respond-to-up(md) {
            font-size: 1.875rem;
         }
      }
   }
}

/* Doesn't work */
// // Change Menu for landscape orientation
// @include respond-to-down(md) {
   
//    @media (orientation: landscape) {
//       .menu-bar {
//          width: 5.625rem; //90px
//          height: 100vh;
//          flex-direction: column;
         
//       }
//    }
// }




