@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;
@use '../utilities/gradients' as *;


/* ----------------------- Portfolio Container Styling ---------------------- */
#portfolio {
    @include sectionBottomMargin;
    height: fit-content;
    // border: 5px solid red;
}

.portfolio-inner {
    @include sectionBorder($solid-1);
    
    // border: 5px solid red;
}

// Heading Styling
.portfolio-heading {
    @include headingStyling;
    
    .heading-line {
        @include headingLine($solid-1);
    }
    
    // background-color: darkcyan;
    // border: 5px solid purple;
}

/* ------------------------------ Cards Styling ----------------------------- */
.portfolio-box {
    @include Card($solid-1);
    justify-content: center;
    padding: 2.5rem auto; //40px auto
    margin: 0 auto;
}

.card-container {
    position: relative;
    flex-grow: 1;
    gap: 20px;
    padding: 10px 15px;
    margin: 0 auto;
    padding: 0.625rem; //10px
    // border: 3px solid red;
    
    
    // Cards Styling
    .portfolio-card {
        position: relative;
        width: 100%;
        padding: 0 auto;
        margin: auto;
        overflow: hidden;
        z-index: 3;
        // border: 3px solid lime;
        // Card border
        border-top: 0.5rem solid $solid-1;
        
        // Image height styling
        img {
            position: relative;
            object-fit: cover;
            width: 100%;
            height: 45.40vh; // keeps cards height the same
            
            // height for landscape
            @media (orientation: landscape) {
            height: 45.40vw; // keeps cards height the same
            }
        }
        
        .portfolio-info {
            @include fullSize;
            position: absolute;
            top: 0;
            left: 0;
            
            // ============ hide for hover ============
            opacity: 1;
            visibility: hidden;
            
            // Overlay
            &::before {
                content: "";
                @include fullSize;
                position: absolute;
                @include gradient(to right, $gradientR_O);
                opacity: 0.75;
            }
            /* ------------------------------ Text Styling ------------------------------ */
            .caption {
                text-align: center;
                color: $white;
                flex-direction: column;
                position: relative;
                z-index: 2;
                padding: 0.313rem; //5px
                
                h4 {
                    display: block;
                    text-transform: uppercase;
                    font-size: 25px; //30px
                    margin-top: 5%; //controls spacing of text
                }
                
                p {
                    margin: auto 0;
                    // font-size: 1.125rem; //18x
                    font-size: 1.30vw; //25px
                    // font-size: clamp(1.125rem, 2vw - 0.3rem, 1rem);
                }
                
                /* ------------------------------- Breakpoints ------------------------------ */
                // Font Size below 992px
                @include respond-to-down(lg) {
                    h4 {
                        margin-top: 3%;
                        font-size: 40px; //35px
                        font-weight: 700;
                    }
                    
                    p {
                        font-size: 30px; //30px
                    }
                }
                
                // Font Size below 769px
                @include respond-to-down(md) {
                    h4 {
                        margin-top: 3%;
                        font-size: 2.188rem; //35px
                    }
                    
                    p {
                        font-size: 1.875rem; //30px
                    }
                }
                
                // Font Size below 577px
                @include respond-to-down(sm) {
                    h4 {
                        margin-top: 3%;
                        font-size: 1.875rem; // 30px
                    }
                    
                    p {
                        font-weight: 200;
                        font-size: 5.19vw; //30px @ breakpoint width
                    }
                }
                
                // Font Size below 360px
                @include respond-to-down(xs) {
                    h4 {
                        margin-top: 3%;
                        font-size: 28px; // 20px
                    }
                    
                    p {
                        // margin-bottom: 3%; 
                        margin: 10% 0; 
                        font-size: 1.125rem; //18px
                        font-weight: 200; 
                    }
                }
            }
        }
        
        //Shows overlay on mobile devices when tapped
        &:hover, &:active, &:focus  { 
            img {
                transform: scale(1.5);
                @include transitionProperty;
                
            }
            .portfolio-info {
                opacity: 1;
                visibility: visible;
                @include transitionProperty;
            }
        }
    }
}

// Portfolio Button
.portfolio-btn {
    @include button($solid-1) {
        margin-bottom: 10%;
        // Button
        padding: 5px 1.25rem; //h5px w20px
        
    }
    
    //Icon container
    span {
        width: 100%;
        height: 100%;
        margin-left: auto;      
        color: $white;
    }
    
    // Hover effect
    &:hover {
        @include gradient(to left, $gradientP_R);
        transform: scale(1.1);
    }
    
    /* ------------------------------- Breakpoints ------------------------------ */
    // Below 992px
    @include respond-to-down(lg) {
        padding: 0.438rem 1.875rem; // 7px 30px
        font-size: 1.875rem;
    }
    
    // Below 768px
    @include respond-to-down(md) {
        padding: 0.438rem 1.25rem; // 7px 20px
        font-size: 1.563rem; // 25px
    }
    
    // Below 577px
    @include respond-to-down(sm) {
        // display: none;
        padding: 0.313rem 1.25rem; //h(5px)s w(10px)
        font-size: 4.33vw; // 25px @ breakpoint width
    }
}







