@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;
@use '../utilities/gradients' as *;

/* #portfolio {
    // border: 2px solid white;
} */

.portfolio-inner {
    @include borderYStyling($solid-1);
    // border: 2px solid green;
}

/* ----------------------------- Content Styling ---------------------------- */
.content .heading {
    width: fit-content;
    margin: 0 auto;
    padding: 0.625rem 30px;
    
    .heading-line {
        @include headingLine($solid-1);
    }
}

// Portfoli Styling
.portfolio-box {
    position: relative;
    margin: 0 auto;
    width: fit-content;
    padding: 5px;
    z-index: 0;
    place-items: center center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1.25rem;
    
    align-items: stretch;
    // border: 2px solid white;
    
    // Cards Styling
    .cards {
        position: relative;
        width: 100%;
        overflow: hidden;
        flex-direction: column;
        justify-content: start;
        background-color: $portfolio-cards;
        
        @include shadowSharp;
        border-radius: 5px;
        border: 2px solid rgba($color: black, $alpha: 0.5);
        
        // img styling
        .img-container {
            width: 100%;
            max-height: 200px;
            border-bottom: 2px solid $solid-1;
            // border: 2px solid hotpink;
            
            img {
                @include fullSize;   
                aspect-ratio: 1 / 1;
                object-fit: cover;
            }
        }
        
        // Details styling
        .details {
            z-index: 0;
            position: relative;
            overflow: hidden;
            @include fullSize;
            padding: 0.625rem 1.25rem !important;
            // border: 2px solid gray;
            
            h3, p {
                padding-bottom: 1.563rem;
            }
            
            // Title
            h3 {
                font-size: 1.188rem;
                padding-top: 0.938rem;
                min-height: 3.875rem;
            }
            
            // Text
            p {
                min-height: 6.563rem;
                font-weight: 500;
                font-size: 0.875rem;
                line-height: 2.5;
                
                margin-bottom: auto;
                padding-bottom: 1.563rem;
            }
            
            .details-inner {
                position: relative;
                z-index: 1;
                @include fullSize;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                height: fit-content;
                // border: 2px solid purple;
            }
            
            // Button
            .portfolio-btn {
                @include btnColor($portfolio-btn, $portfolio-btn-border);
                // border: 2px solid red;
                
                
                &:hover {
                    @include gradient(to right, $gradientR_O);
                }
                
                // Breakpoints
                @include respond-to-down(xs) {
                    
                    a {
                        padding: 0.313rem 15px;
                        font-size: 0.813rem;
                    }
                }
            }
            
            // Diagonal coloring
            &::after {
                content: "";
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                right: -150px;
                bottom: -50px;
                // width: 120%;
                height: 100%;
                
                @include shadowSharp;
                @include gradient(to left bottom, $gradientP_O);
                opacity: 0.7;
                
                transform: skewY(-25deg);
                /* different browsers */
                -webkit-transform: skewY(-25deg);/* Chromium browsers */
                -moz-transform: skewY(-25deg);/* Firefox */
                -ms-transform: skewY(-25deg);/* IE */
                
                border-top: 2px solid $solid-1;
                border-bottom: 2px solid $solid-1;
            }
        }
    }
    
    
    // Breakpoints for >576px
    @include respond-to-up(md) {
        padding: 1.25rem;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-auto-rows: 1fr;
        
        .cards {
            
            .details {
                
                h3 {
                    font-size: 1.75rem;
                    min-height: 5.5rem;
                }
                
                p {
                    font-size: 1rem;
                    line-height: 1.75;
                }
            }
        }
    }
}








