@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;
@use '../utilities/gradients' as *;

.coding-inner {
    @include borderYStyling($solid-1);
}

.content .heading {
    margin: 0 auto;
    
    .heading-line {
        @include headingLine($solid-1);
    }
}

// Example Container
.coding-container {
    justify-content: start;
    align-items: center;
    flex-direction: column;
    
    margin: 0 auto;
    
    .title {
    } 
    
    .description {
        padding: 10px 15px;
        margin: auto 2.5rem;
        
        border-radius: 7px;
        // border: 2px solid red;
        border: 2px solid rgba($color: $solid-4, $alpha: 0.5);
        background-color: rgba($color: $bg-secondary, $alpha: 0.5);
        
        @include respond-to-down(md) {
            margin: auto 0;
        }
    }
}

.coding-container .code {
    padding: 18px 22px;
    border-radius: 7px;
    border: 2px solid rgba($color: $solid-4, $alpha: 0.5);
    background-color: rgba($color: $bg-secondary, $alpha: 0.5);
    
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 0.938rem;
    
    @include respond-to-down(sm) {
        padding: 5px 3px;
    }
    
}





