@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/gradients' as *;



.inner {
    width: 100%;
    max-width: 82.5rem; /* 1500px; */
    margin: auto;    
    
    // background-color: red;
}

.scroll {
    font-size: 50px;
    @include absoluteCenter;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}