@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/gradients' as *;

/* -------------------------------- Full Page ------------------------------- */
.full-page {
    position: relative;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    
    // border: 5px solid purple;
}

.bg-full {
    background: url(/assets/images/background-images/bg-1.jpg) no-repeat center center/cover;
    
    // keep inherited Background full size
    background-attachment: fixed;
}
/* ---------------------------- Sections styling ---------------------------- */
.main-sections {
    height: 100%;
    @include respond-to-down(md) {
        // mobile phones
        //Moves in line with the navbar
        height: fit-content;
        max-width: 100vw;
        margin-bottom: 5.625rem;
        margin-right: 0px; 
        
        // Landscape Phone
        @media (orientation: landscape) {
            margin-left: 5.625rem; // 90px
            height: 100%;
        }
    }
    
    @include respond-to-up(md) {
        //Laptops/ Desktops
        //Moves in line with navbar
        margin-left: 5.625rem; // 90px
        height: 100%;
    }
    // background-color: red;
    // border: 3px solid gray;
    
}

.inner {
    margin: 0 auto;
    padding: 0 1.25rem;
    position: relative;
    height: 100%;
    @include respond-to-down(md) {
        padding: 0;
    }
    // background-color: palegreen;    
    // border: 3px solid gold;
}

.container {
    margin: auto;
    padding: auto;
}

// Scroll Down button               // Can't Hide so it doesn't show in the header
.scroll {
    font-size: 50px;
    @include absoluteCenter;
}

// Glass
.glass {
    // BGlass effect
   box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5); //$bg-secondary // h w spread color
   background: inherit;
   
   overflow: hidden;
   
   &::before {
      @include glassBlur;
    }
}


// back to top button
.back-to-top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1.875em;
    bottom: 500px;
    z-index: 1;
    background-color: $solid-5;
    
    span {
        color: $solid-4;
        font-size: 1rem;
        @include absoluteCenter;
    }
}

/* ------------------------------- Layout ------------------------------- */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/* Ended up giving up discarding grid. Took too much code to compared to flexbox */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}




