@use '../custom' as *;
@use '../utilities/mixins' as *;


// For some reason I can't call variables from custom.scss Even though I could within the mixins partial So I have to put them here

// Also wanted to create loops for these gradients but I spent too much time on it and couldn't get it to work in the end

// Ended up not using gradients because they would lag in chrome, but other browsers were fine

/* ------------------------------- Glass Blur ------------------------------- */
@mixin glassBlur {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -20px;
  
  box-shadow: inset 0 0 2000px $bg-secondary;
  -webkit-box-shadow: inset 0 0 2000px $bg-secondary;
  
  background: inherit;
  -webkit-background: inherit;
  
  filter: blur(1000px);
  -webkit-filter: blur(300px); //Filter not working in chrome
  -ms-filter: blur(300px);
}



/* ---------------------------- Slantbox Gradient --------------------------- */
@mixin gradientSlantBox($direction, $color) {
  content: '';
  height: 30px;
  position: absolute;
  z-index: -1;
  top: -5%;
  right: 0;
  left: 0;
  @include gradient($direction, $color);
  transform: skewY(-3deg);
  /* different browsers */
  -webkit-transform: skewY(-3deg);/* Chromium browsers */
  -moz-transform: skewY(-3deg);/* Firefox */
  -ms-transform: skewY(-3deg);/* IE */
}
/* -------------------------------------------------------------------------- */
/*                                  Gradients                                 */
/* -------------------------------------------------------------------------- */
// Color Variables
$white:   #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:   #000; 
  
$solid-1: rgb(249, 85, 173); //#f953ab
$solid-2: rgb(186, 39, 81);  //#b92751
$solid-3: rgb(217, 106, 24); //#d86818
$solid-4: rgb(11, 208, 223); //#0bd2e0
$solid-5: rgb(49, 28, 97);   //#321d63

$bg-primary: #121212;
$bg-primary-light: lighten($bg-primary, 10%);

$bg-secondary: #333d48;
$bg-secondary-light: lighten($bg-secondary, 10%);

 
/* ===================== Static Gradients ===================== */
// Background Colors

// white base gradients
$gradientwhite1: $white, $solid-1;
$gradientwhite2: $white, $solid-2; 
$gradientwhite3: $white, $solid-3; 
$gradientwhite4: $white, $solid-4; 
$gradientwhite5: $white, $solid-5;

// black base gradients
$gradientblack1: $black, $solid-1;
$gradientblack2: $black, $solid-2; 
$gradientblack3: $black, $solid-3; 
$gradientblack4: $black, $solid-4; 
$gradientblack5: $black, $solid-5;

// Solid Color gradients lettters = colors | p=pink r=red o=orange  c=cyan b=blue
$gradientP_R: $solid-1, $solid-2;
$gradientP_O: $solid-1, $solid-3;
$gradientP_C: $solid-1, $solid-4;
$gradientP_B: $solid-1, $solid-5;

$gradientR_O: $solid-2, $solid-3;
$gradientR_C: $solid-2, $solid-4;
$gradientR_B: $solid-2, $solid-5;

$gradientO_C: $solid-3, $solid-4; 
$gradientO_B: $solid-3, $solid-5;

$gradientC_B: $solid-4, $solid-5;

 /* -------------------------------------------------------------------------- */
 /*                              Gradients Mixins                              */
 /* -------------------------------------------------------------------------- */
@mixin gradient($direction, $gradient) { 
  background: linear-gradient($direction, $gradient);  
  background: -webkit-linear-gradient($direction, $gradient);
  background: -moz-linear-gradient($direction, $gradient);
  background: -o-linear-gradient($direction, $gradient);
  @content;

}
    
/* --------------------------- Animated Gradients --------------------------- */

// Full Gradient
@mixin gradientAnimation {
  background: linear-gradient(320deg, 
  $solid-1,
  $solid-2,
  $solid-3, 
  $solid-4,
  $solid-5, 
  );
  background-size: 700% 100%; //height width
  background-repeat: no-repeat;
  
  animation: gradientAnimation1 7s ease infinite;
}

// Custom Gradients
@mixin full-gradient-animation($colour-one, $colour-two, $colour-three, $colour-four, $colour-five, $angle, $length, $iteration) {
	background: $colour-one;
	background: linear-gradient($angle, $colour-one 0%, $colour-two 50%, $colour-three 100%);
	background-size: 700% 100%;

  animation: animation-background-gradient $length ease $iteration;
}

// 4 colours
@mixin FourColourAnimation($colour-one, $colour-two, $colour-three, $colour-four, $angle, $length, $iteration) {
	background: $colour-one;
	background: linear-gradient($angle, $colour-one 0%, $colour-two 33.33%, $colour-three  66.66%, $colour-four 100%);
	background-size: 700% 100%;

  animation: animation-background-gradient $length ease $iteration;
}

// 3 colours
@mixin ThreeColourAnimation($colour-one, $colour-two, $colour-three, $angle, $length, $iteration) {
	background: $colour-one;
	background: linear-gradient($angle, $colour-one 0%, $colour-two 50%, $colour-three 100%);
	background-size: 700% 100%;

  animation: animation-background-gradient $length ease $iteration;
}

// 2 colours
@mixin TwoColourAnimation($colour-one, $colour-two, $angle, $length, $iteration) {
	background: $colour-one;
	background: linear-gradient($angle, $colour-one 0%, $colour-two 100%);
	background-size: 700% 100%;

  animation: animation-background-gradient $length ease $iteration;
}


