@use '../custom' as *;




// Full Size
@mixin fullSize {
    width: 100%;
    height: 100%;
}

// Center an Element
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Transition
@mixin transitionProperty {
    transition-duration: 1000ms;
    transition-property: all;
}

// Scroll Hover


@mixin btnHover {
    transform: scale(1.2);
}

/* ------------------------------- breakpoints ------------------------------ */
// Breakpoints Map
$breakpoints: (
    'xs': 360px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px,
  
  ) !default;
  
// ======= Mixin to manage responsive breakpoints
// name of mixin
@mixin respond-to($breakpoint) {
    // if key exists
    @if map-has-key($breakpoints, $breakpoint) {
        // query printed based on value
        @media (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }        
    }
    
}






