@use '../custom' as *;
@use '../utilities/mixins' as *;



/* --------------------------- Animated gradients --------------------------- */
// Gradient Animation
@keyframes gradientAnimation1 {
    0%{
        background-position:0% 28%
    }
    50%{
        background-position:100% 73%
    }
    100%{
        background-position:0% 28%
    }
}

// Custom Gradient Animation
@keyframes animation-background-gradient {

	0% {
        background-position: 0% 5%;
    }
	50% {
        background-position: 100% 95%;
    }
	100% {
        background-position: 0% 5%;
    }
}

// Scroll Gradient
@keyframes scroll {
    0% {
        top: 50%;
    } 
    
    100% {
        top: 100%;
    }
}

// Hover
@keyframes hover {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

// Typewriter Cursor
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


