@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;
@use '../utilities/gradients' as *;

#top-btn {
    display: inline-block;
    background-color: $solid-5;
    width: 50px;
    height: 50px;
    
    border-radius: 50%;
    border: 2px solid darken($solid-5, 10%);
    text-align: center;
    
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    
    transition: 150ms ease-in;
    
    &::after {
        content: "\f077";
        // top: 50%;
        left: 50%;
        font-family: fontAwesome;
        line-height: 43px;
        font-size: 1.375em;
        color: $solid-4;
        transition: 150ms ease-in;
        
    }
    
    @include hoverFocusActive {
        background-color: darken($solid-5, 10%);
    }
    
    @include respond-to-down(lg) {
        display: none;
    }
    
}








