@use '../custom';


// Center an Element
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Transition
@mixin transitionProperty {
    transition-duration: 1000ms;
    transition-property: all;
}


/* ------------------------------- breakpoints ------------------------------ */
// Breakpoints Map
$breakpoints: (
    'xs': 360px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px,
  
  ) !default;
  
// ======= Mixin to manage responsive breakpoints
// name of mixin
@mixin respond-to($breakpoint) {
    // if key exists
    @if map-has-key($breakpoints, $breakpoint) {
        // query printed based on value
        @media (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }        
    }
    
}

/* -------------------------------- Gradients ------------------------------- */
/* COLOR VARIABLES
============================================= */
$black:    #000;      
$solid-1: #e92605;
$solid-2: #270e74;
$solid-3: #d96a18;
$solid-4: #0bd0df;
$solid-5: #f955ad;

// Gradient List
// Background gradient 1
@mixin backgroundGradient1 {
    background: linear-gradient(320deg, 
    $solid-1,
    $solid-2,
    $solid-3, 
    $solid-4,
    $solid-5, 
    );
    background-size: 1000% 100%; //height width

    animation: background-gradient1 6s ease infinite;
}
$list1: $black, $solid-1;
$list2: $black, $solid-2; 
$list3: $black, $solid-3; 
$list4: $black, $solid-4; 
$list5: $black, $solid-5; 

@mixin gradient($direction, $list) { 
  background: linear-gradient($direction, $list);  
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
}
    





