@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;
@use '../utilities/gradients' as *;

.portfolio-carousel {
    // padding: 0;
    padding: 1.125rem 0.938rem 1.125rem 0.938rem;
    border-radius: 0.938rem;
    border: 2px solid rgba($color: $solid-4, $alpha: 0.5);
    background-color: rgba($color: $bg-secondary, $alpha: 0.5);
    // transition: 500ms;
}

/* ----------------------------- Swiper Styling ----------------------------- */
.swiper {
    @include fullSize;
    // border: 2px solid red;
    // overflow: visible;
    
    .swiper-wrapper {
        position: relative;
        width: fit-content;
        // height: fit-content;
        max-width: 26.25em;
        
        padding-bottom: 5.625rem;

        // border: 2px solid green;
    }
    
    .swiper-slide {
        position: relative;
        // border: 2px solid white;
        
        width: fit-content;
        
        .details {
            padding-bottom: 5.625rem;
        }
        
    }
    
    // Nav Buttons
    
    .swiper-button-next, .swiper-button-prev {
        z-index: 999;
        top: 90%;
        
        color: $solid-4;
    }
    
    .swiper-pagination-bullet.active {
        background: $solid-1;
    }
    
}


